{% extends 'base.html' %}
{% block content %}
    <main>
        {% if user.is_authenticated %}
            <p>You are logged in as {{ user.username }}</p>
        {% else %}
            <p>Welcome! Please log in or register to manage your appointments.</p>
        {% endif %}
    <ul>
    {% if user.is_authenticated %}
        <li><a href="{% url 'schedule_list' %}">View Schedules</a></li>
        <li><a href="{% url 'appointment_list' %}">My Appointments</a></li>
    {% endif %}
    </ul>
    </main>
{% endblock %}