{% extends 'base.html' %}
{% block content %}
<h1>Available Schedules</h1>
<table>
    <thead>
        <tr>
            <th>Doctor</th>
            <th>Day</th>
            <th>Time</th>
            <th>Floor</th>
            <th>Room</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for schedule in schedules %}
        <tr>
            <td>{{ schedule.doctor.user.username }}</td>
            <td>{{ schedule.day }}</td>
            <td>{{ schedule.time|date:"h:i A" }}</td>
            <td>{{ schedule.floor }}</td>
            <td>{{ schedule.room_number }}</td>
            <td><a href="{% url 'book_appointment' schedule.id %}">Book</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}